.tarifas {
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.tarifas h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 24px;
}

.tarifas-lista p {
  margin-bottom: 12px;
  font-size: 1rem;
  color: #2a2a2a;
  text-align: left;
}

.text {
    text-align: left;
}
