.footer {
  background: #eac7d3;
  padding: 30px;
  text-align: center;
  font-size: 0.95rem;
  color: #2a2a2a;
}

.footer-logo {
  width: 150px;     /* Más pequeño que el header */
  opacity: 0.85;
  margin-bottom: 6px;
}

.footer-legal {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-legal a {
  color: #c49aa8;
  text-decoration: none;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

.footer-legal a:hover {
  opacity: 0.7;
}

.footer-logo-cop {
  display: block;
  width: 100px;
  margin: 6px auto 0;
  opacity: 0.9;
}
