.footer {
  background: #eac7d3;
  padding: 30px;
  text-align: center;
  font-size: 0.95rem;
  color: #2a2a2a;
}

.footer-logo {
  width: 150px;     /* Más pequeño que el header */
  opacity: 0.85;
  margin-bottom: 15px;
}
